<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  	<head>
    	<title>Sistema Comercial</title>
    	<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="bootstrap/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="css/style_back.css" rel="stylesheet" type="text/css" />
		<link href="bootstrap/css/fonts-googleapis.css" rel="stylesheet" type="text/css" />
		<style>
			body {
				font-family: 'Lato';
			}
			
			.fa-btn {
				margin-right: 6px;
			}
		</style>
		
	</head>
  	
	<body id="app-layout" ng-app="myApp" class="ng-cloak">
		
		<nav class="navbar navbar-default" ng-controller="HomeController as hc">
	        <div class="container" >

				<nav class="navbar navbar-inverse navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header visible-xs">
							<!-- Collapsed Hamburger -->
							<span class="navbar-brand" >Sistema Comercial</span>
	
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#spark-navbar-collapse">
								<span class="sr-only">Toggle Navigation</span> 
								<span class="icon-bar"></span> 
								<span class="icon-bar"></span> 
								<span class="icon-bar"></span>
							</button>
						</div>

						<div id="spark-navbar-collapse" class="collapse navbar-collapse">
	
							<!-- Left Side Of Navbar -->
							<ul ng-if="permission" class="nav navbar-nav">
								<li ng-if="permission" ng-repeat="per in permission track by $index" ng-class="{active:tab(per.url)}">
									<a href="#!/{{per.url}}/list"> <span ng-bind="per.desc"></span></a>
								</li>
	
								<!-- Authentication Links -->
								<li class="dropdown nav navbar-nav navbar-right">
									<a href="" class="dropdown-toggle"	data-toggle="dropdown" role="button" aria-expanded="false">
										Bienvenido: <span class="glyphicon glyphicon-user text-capitalize" ng-bind="userName"></span><span class="caret"></span>
									</a>
	
									<ul class="dropdown-menu nav navbar-nav navbar-right" role="menu">
										<li>
											<a href="#" ng-click="logout()" role="button">
												<i class="fa fa-btn fa-sign-out"></i>Logout
											</a>
										</li>
									</ul>
								</li>
	
							</ul>
	
							<!-- Right Side Of Navbar -->							
							<ul ng-if="!permission" class="nav navbar-nav navbar-right">
								<!-- Authentication Links -->
								<li><a href="/#!/register"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
								<li><a href="/#!/login"><span class="glyphicon glyphicon-log-in"> </span> Login</a></li>
						    </ul>
	
						</div>
					</div>
				</nav>

				<div class="collapse navbar-collapse" id="spark-navbar-collapse"></div>
	            
	        </div>
	    </nav>
	    
	    <div ng-if="errors" class="alert alert-danger animate-if" ng-controller="HomeController as hc">
			<button type="button" class="close" aria-label="Close" ng-click="closeErrors()">
				<span aria-hidden="true">&times;</span>
			</button>
			<ul>
				<li ng-repeat="error in errors">
					{{error}}
				</li>
			</ul>
		</div>

		<div ui-view = ""></div>

		<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
  		<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="js/angular.min.1.6.4.js"></script>		
		<script src="js/angular-animate.js"></script>
		<script src="js/angular-route.min.js"></script>
		<script src="js/angular-ui-router.min.js"></script>
		<script src="js/angular-touch.min.js"></script>
		<script src="js/moment.min.js"></script>

		<script src="js/app.js"></script>

		<!-- Services-->
		<script src="js/service/user_service.js"></script>
		<script src="js/service/error_service.js"></script>
		<script src="js/service/product_service.js"></script>
		<script src="js/service/category_service.js"></script>
		<script src="js/service/color_service.js"></script>
		<script src="js/service/enviroment_service.js"></script>
		<script src="js/service/purpose_service.js"></script>
		<script src="js/service/estatus_service.js"></script>
		<script src="js/service/relationated_product_service.js"></script>

		<!-- Controllers-->
		<script src="js/controller/admin_product_controller.js"></script>
		<script src="js/controller/login_controller.js"></script>
		<script src="js/controller/home_controller.js"></script>

		<!-- Directives-->
		<script src="js/directive/pagination_directive.js"></script>
		<script src="js/directive/file_load_directive.js"></script>
		<script src="js/directive/select_pagination.js"></script>
		<script src="js/directive/validate_form.js"></script>

  	</body>
</html>
