<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  	<head>
    	<title>Sistema Comercial</title>
    	<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="bootstrap/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="css/style_back.css" rel="stylesheet" type="text/css" />
		<link href="bootstrap/css/fonts-googleapis.css" rel="stylesheet" type="text/css" />
		<style>
			body {
				font-family: 'Lato';
			}

			.fa-btn {
				margin-right: 6px;
			}
		</style>

	</head>

	<body id="app-layout" ng-app="myApp" class="ng-cloak" >
	<div id="inicio">
	</div>
	    <div id="app-menu" ui-view="menu" class="menuView"></div>

	    <div ng-if="errors" class="ng-cloak alert alert-danger animate-if" >
			<button type="button" class="close" aria-label="Close" ng-click="closeErrors()">
				<span aria-hidden="true">&times;</span>
			</button>
			<ul>
				<li ng-repeat="error in errors" class="">
					<div class="ng-cloak" ng-bind="error" ></div>
				</li>
			</ul>
		</div>

		<div ng-if="messages" class="ng-cloak alert alert-success animate-if" >
			<button type="button" class="close" aria-label="Close" ng-click="closeMessages()">
				<span aria-hidden="true">&times;</span>
			</button>
			<ul>
				<li ng-repeat="message in messages">
					<div class="ng-cloak" ng-bind="message" ></div>
				</li>
			</ul>
		</div>

		<div ui-view="mainView"></div>

		<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
  		<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="js/angular.min.1.6.4.js"></script>		
		<script src="js/angular-animate.js"></script>
		<script src="js/angular-route.min.js"></script>
		<script src="js/angular-ui-router.min.js"></script>
		<script src="js/angular-touch.min.js"></script>
		<script src="js/moment.min.js"></script>
		<script src="js/app.js"></script>

		<!-- Services-->
		<script src="js/service/user_service.js"></script>
		<script src="js/service/error_service.js"></script>
		<script src="js/service/message_service.js"></script>
		<script src="js/service/product_service.js"></script>
		<script src="js/service/category_service.js"></script>
		<script src="js/service/color_service.js"></script>
		<script src="js/service/enviroment_service.js"></script>
		<script src="js/service/purpose_service.js"></script>
		<script src="js/service/estatus_service.js"></script>
		<script src="js/service/relationated_product_service.js"></script>
		<script src="js/service/file_service.js"></script>

		<!-- Controllers-->
		<script src="js/controller/admin_product_controller.js"></script>
		<script src="js/controller/login_controller.js"></script>
		<script src="js/controller/home_controller.js"></script>

		<!-- Directives-->
		<script src="js/directive/pagination_directive.js"></script>
		<script src="js/directive/file_load_directive.js"></script>
		<script src="js/directive/select_pagination.js"></script>
		<script src="js/directive/validate_form.js"></script>
		<script src="js/directive/relationated_product_directive.js"></script>

  	</body>
</html>
