<div class="container spark-screen">
    <br/>
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/#!">Home</a></li>
                <li><a href="{{relativePath}}/list">Listar</a></li>
                <li class="active">Editar {{ appTitle }}</li>
            </ol>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                        	<div class="form-group">
                        		<a class="btn btn-primary" href="{{relativePath}}/new"  role="button">Nuevo</a>
                        	</div>
                        </div>
                        
                        <div class="panel-body">
                            <form ng-submit="actionSubmit()" name="form" class="form-horizontal" novalidate validate-form>
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Código</label>
	                                    <input type="text" validate-name="Código" placeholder="Ingrese un código alfanumérico" class="form-control" ng-model="product.code" required/>	                                    
	                                    <span style="color:red" ng-show="form.code.$dirty && form.code.$invalid">
											<span ng-show="form.code.$error.required">Username is required.</span>
										</span>	                                    
	                                </div>
	                            </div>
	
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Nombre</label>
	                                    <input type="text" validate-name="nombre" placeholder="Ingrese el nombre" class="form-control" ng-model="product.name" required/>
	                                </div>
	                            </div>
	
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Descripción</label>
	                                    <textarea rows="5" cols="50" validate-name="descripción" placeholder="Ingrese una amplia descripción" class="form-control" ng-model="product.description"></textarea>
	                                </div>
	                            </div>
	
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                   <label>Código de Color</label>
	                                    <select class="form-control" ng-model="product.idColor" validate-name="Código de Color">
											<option selected="selected" value=""  >Seleccionar</option>
											<option selected="selected" ng-repeat="color in colors" value="{{color.idColor}}"  >{{color.denomination}}</option>
										</select>
									</div>									
	                            </div>
	
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Precio x M&sup2;</label>
	                                    <input type="number" min="0" step="any" name="price" placeholder="Ingrese el precio" class="form-control"  ng-model="product.price" validate-name="Precio"/>
	                                </div>
	                            </div>
	                            
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Precio Muestra</label>
	                                    <input type="number" min="0" step="any" name="price_sample" placeholder="Ingrese el precio de la Muestra" class="form-control"  ng-model="product.priceSample" />
	                                </div>
	                            </div>
	
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Medida (M&sup2;/Caja)</label>
	                                    <input type="number" min="0" step="any" name="measure" placeholder="Ingrese la medida" class="form-control" ng-model="product.measure" />
	                                </div>
	                            </div>
	
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Stock M&sup2;</label>
	                                    <input type="number" name="stock" min="0" step="any" placeholder="Ingrese el stock actual"  class="form-control" ng-model="product.stock" />
	                                </div>
	                            </div>
	                            
	                             <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Palmetas por Caja </label>
	                                    <input type="number" name="item_box" min="0" placeholder="Ingrese las palmetas por caja"  class="form-control" ng-model="product.itemBox" />
	                                </div>
	                            </div>
	                            
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Kilogramos por Caja</label>
	                                    <input type="number" name="kg_meter" min="0" step="any" placeholder="Ingrese Kilogramos por metro"  class="form-control" ng-model="product.kgMeter" />
	                                </div>
	                            </div>
	                            
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Ambiente:</label>
										<select class="form-control" ng-model="product.idEnviroment" validate-message="Código de Ambiente">
											<option selected="selected" value="" >Seleccionar</option>
											<option selected="selected" ng-repeat="enviroment in enviroments" value="{{enviroment.idEnviroment}}"  >{{enviroment.denomination}}</option>
										</select>										
	                                </div>
	                            </div>
	                            
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Material</label>                                    
	                                    <select class="form-control" ng-model="product.material">
										  	<option value="">Seleccionar</option>
										  	<option value="porcelanato">Porcelanato</option>
										  	<option value="ceramica">Ceramica</option>									  	
										</select>
	                                </div>
	                            </div>
	                            
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Acabado</label>                                    
	                                    <select class="form-control" ng-model="product.finish" >
										  	<option value="">Seleccionar</option>
										  	<option value="obscuro">Obscuro</option>
										  	<option value="claro">Claro</option>
										  	<option value="fino">Fino</option>
										</select>
	                                </div>
	                            </div>
	                            
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Purpose</label>
	                                    <select class="form-control" ng-model="product.idPurpose" validate-message="Propósito">
											<option selected="selected" ng-repeat="purpose in purposes" value="{{purpose.idPurpose}}"  >{{purpose.denomination}}</option>
											<option selected="selected" value="">Seleccionar</option>
										</select>
	                                </div>
	                            </div>
	                            
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Tamaño</label>
	                                    <input type="text" name="size" placeholder="Ingrese Tamaño"  class="form-control" ng-model="product.size" />
	                                </div>
	                            </div>                            
	
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Categoría:</label>
										<select class="form-control" ng-model="product.idCategory" validate-message="Propósito">
											<option selected="selected" ng-repeat="category in categories" value="{{category.idCategory}}"  >{{category.denomination}}</option>
											<option selected="selected" value="">Seleccionar</option>
										</select>
										
	                                </div>
	                            </div>
	
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Estatus</label>
										<select class="form-control" ng-model="product.idStatus" validate-message="Estatus">
											<option selected="selected" ng-repeat="status in statuses" value="{{status.idStatus}}"  >{{status.denomination}}</option>
											<option selected="selected" value="">Seleccionar</option>
										</select>
	                                </div>
	                            </div>
	
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <div class="col-lg-14">
	                                        <label>Buscar Productos</label>
	
	                                        <div class="input-group custom-search-form ">
	                                            <input id="relaProduct" placeholder="Buscar por nombre" type="text" class="form-control" >
	                                            <span class="input-group-btn">
	                                                <button id="findProducts" class="btn btn-default" type="button" onclick="">
	                                                    <span class="glyphicon glyphicon-search"></span>
	                                                    <i class="fa fa-refreshh fa-spin"></i>
	                                                </button>
	                                            </span>
	                                        </div>
	
	                                        <div style="width:359px; height:300px; overflow: auto;">
	                                            <table class="table table-hover" id ="tableRelationatedProducts">
	                                                <thead>
	                                                    <tr>
	                                                        <th>
	                                                            Código
	                                                        </th>
	                                                        <th>
	                                                            Nombre
	                                                        </th>
	                                                        <th>
	                                                            Acción
	                                                        </th>
	                                                    </tr>
	                                                </thead>
	                                                <tbody id="tbRelationatedProductsFind" >
	                                                </tbody>
	                                            </table>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	
	                            <div class="col-md-4" style="width:369px; height:300px; overflow: auto;">
	                                <div class="form-group">
	                                    <div class="col-lg-14">
	                                        <label>Productos Relacionados</label>
	
	                                        <table class="table table-hover" id ="tableRelationatedProducts">
	                                            <thead>
	                                                <tr>
	
	                                                    <th>
	                                                        Código
	                                                    </th>
	                                                    <th>
	                                                        Nombre
	                                                    </th>
	                                                    <th>
	                                                        Acción
	                                                    </th>
	
	                                                </tr>
	                                            </thead>
	                                            <tbody id="tBodyRelationatedProducts" >
	
	                                                @if (isset(relationatedProducts))
	
	                                                    @foreach(relationatedProducts as rp)
	                                                    <tr id="{rp.idProductRelation}}_tBodyRelationatedProducts">
	                                                        <td>
	                                                            <div class="media">
	                                                                <input type="hidden" name="relationatedProducts[]" id="relationatedProducts" ng-model="rp.idProductRelation" class="relationatedProducts">
	                                                                <a class="" href="/cordillera/public/admin_product/{rp.idProductRelation}}/edit">
	                                                                    {rp.code}}
	                                                                </a>
	                                                            </div>
	                                                        </td>
	
	                                                        <td>
	                                                            <div class="media">
	                                                                {rp.name}}
	                                                            </div>
	                                                        </td>
	                                                        <td>
	                                                            <div class="media">
																	<a class="" href="javascript:addFindProduct('{rp.idProductRelation}}', '{rp.code}}' , '{rp.name}}');removeRelationatedProduct({rp.idProductRelation}})" title="Pulse para eliminar de los Productos Relacionados" >
																		<i class="fa fa-trash fa-2x"></i>
	                                                                </a>
	                                                            </div>
	                                                        </td>
	                                                    </tr>
	                                                    @endforeach
	                                                @endif
	
	                                            </tbody>
	
	                                        </table>
	                                    </div>
	                                </div>
	                            </div>
	
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <label>Imagen de Muestra</label>	
	                                    
	                                    <div class="form-group">
	                                        <input type="file" name="image" id="image" class="btn btn-primary form-control" >
	                                    </div>
	                                </div>
	                            </div>
	
	
	                            <div class="col-md-4">
	                                <div class="form-group">
	
	                                    <!-- @if (isset(product.imagefile)) 
	                                        <img ng-model="imgModel" src="{storage.product.imagefile}}" class="img-responsive center-block" width="400" height="400">
	                                        -->	                                    
	                                        <img ng-model="imgModel" src="https://dummyimage.com/300x300.png&text=Seleccione%20Imagen" class="img-responsive center-block" width="400" height="400">	                                    
	
	                                </div>
	                            </div>
	
	                            <!--  <button type="submit" class="btn btn-primary btn-block" ng-disabled="form.$invalid">{{submitTitle}}</button>-->	                            
	                            <button type="submit" class="btn btn-primary btn-block">{{submitTitle}}</button>
	                            
							</form>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>