@media only screen and (min-width: 0px) {
	.menuView{
		margin-bottom: 70px;	
	}
}

@media only screen and (min-width: 768px){
	.menuView{
		margin-bottom: 170px;	
	}
}

@media only screen and (min-width: 1340px){
	.menuView{
		margin-bottom: 110px;	
	}
}

@media only screen and (min-width: 1500px){
	.menuView{
		margin-bottom: 70px;	
	}
}

.modal-header, h4, .close {
	background-color: #337ab7;
	color:white !important;
	text-align: center;
	font-size: 30px;
	padding: 5px 0px;
	
}

.modal-footer {
	background-color: #f9f9f9;
}


.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}


.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.950, 0.960, 0.150, 0.140) 1.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.panel-heading-custom{
	padding-bottom: 20px;
}

.panel-filter-custom{
	margin-top: 5px;
}

.color-square{	
	width: 50px;
	height: 50px;
	border-radius: 5px;		
}

.table.vertical-align > tbody > tr > td { 
     vertical-align: middle;
}