<ul class="pagination pull-right" ng-if="numPage > 1">
	<li ng-class="{ disabled : model.page == 1 }">
		<a href="" class="prev"  ng-click="backPage()"> <span aria-hidden="true">«</span>
		</a>
	</li>
	
	<li ng-repeat="page in aryPagination " ng-class="{active:(page.active)}">
      	<a ng-if="page.type =='number'" href="" ng-click="goToPage(page.indice, $event)" ng-click="btnNext()"><span aria-hidden="true">{{page.indice}}</span></a>
  		<!--  <a ng-if="page.type =='button'" href="" class="next"> <span aria-hidden="true">...</span></a>-->
    </li>
	
	<li ng-class="{ disabled : !(model.page * model.perPage < numPage * model.perPage) }">
		<a href="" class="next" ng-click="nextPage()"> <span aria-hidden="true">»</span></a>
	</li>
</ul>